$theme-image-path: '~uswds/src/img';
$theme-font-path: '~uswds/src/fonts';
$theme-hero-image: '~uswds/src/img/hero.png';

$theme-site-max-width: 'desktop';
$theme-site-margins-breakpoint: 'desktop';
$theme-site-margins-width: 4;
$theme-site-margins-mobile-width: 2;
$theme-color-primary: 'red-60v';
$theme-color-base-family: 'primary-dark';
